/* Font-faces */
@font-face {
  font-family: 'HeptaSlab-SemiBold';
  src: url('./assets/HeptaSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HeptaSlab-variable';
  src: url('./assets/HeptaSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Variables */
:root {
  /* Cores */
  --corPrimaria: #000080; /* Azul */
  --corSecundaria: #FFD700; /* Amarelo */
  --corTerciaria: #ADD8E6; /* Azul claro */
  --corQuaternaria: #FFC700; /* Amarelo vibrante */
  --corFadeBranco: #F0F0F0; /* Quase branco */
  --corBranco: #FFFFFF; /* Branco */

  /* Espaços */
  --espacoSecao: 2rem;
  --larguraMaxima: 800px;
  --paddingSecao: 1.5rem;

  /* Fonte */
  --fontePadrao: 'HeptaSlab-variable';
  --fonte-negrito: 'HeptaSlab-SemiBold';
}

/* All */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  isolation: isolate;
}

/* Tags */
html, body {
  font-family: var(--fontePadrao), sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--corFadeBranco);
  color: var(--corPrimaria);
  font-size: 16px;
}

header {
  width: 100%;
  background-color: var(--corPrimaria);
  color: var(--corBranco);
  padding: 1rem 1.5rem;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header div {
  background-color: var(--corBranco);
  height: 40px;
  border-radius: 5px;
}

header div img {
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: var(--corBranco);
  text-decoration: none;
  /* margin: 0 1rem; */
  font-family: var(--fonte-negrito);
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: var(--corBranco);
  transition: transform 0.3s ease;
}

nav a:hover {
  color: var(--corSecundaria); 
}

nav a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--corPrimaria);
  color: var(--corBranco);
  margin-top: 2rem;
}

section {
  scroll-margin-top: 4.5rem; /* Altura do header */
}

b, h1, h2, strong {
  font-weight: bold;
  font-family: var(--fonte-negrito) !important;
}

/* IDs */

/* Classes */
.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-color: var(--corTerciaria);
}

.hero h1 {
  margin: 0;
}

.hero p {
  font-size: 1.2rem;
}

.button {
  background-color: var(--corSecundaria);
  color: var(--corPrimaria);
  padding: 0.7rem 1.2rem; 
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease-in-out;
  font-family: var(--fonte-negrito);
}

.button:hover {
  background-color: var(--corQuaternaria);
  transform: scale(1.25); 
}

.content-section {
  padding: var(--paddingSecao);
  margin: var(--espacoSecao) auto;
  background-color: var(--corBranco);
  border-radius: 10px;
  max-width: var(--larguraMaxima);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
  color: var(--corPrimaria);
  margin-bottom: 1rem;
  text-align: center;
}

.content-section p, .content-section ul {
  color: #333333;
  line-height: 1.6;
}

.content-section ul {
  padding-left: 1.5rem;
}

.content-section ul li {
  margin-bottom: 0.5rem;
}

.content-section li strong {
  color: var(--corPrimaria);
}

.neutral-link {
  text-decoration: none;
  color: var(--corPrimaria);
  font-family: var(--fonte-negrito);
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease, transform 0.2s ease;
}

.neutral-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  transform-origin: bottom right;
  transform: scaleX(0);
  height: 2px;
  background-color: var(--corTerciaria);
  transition: transform 0.3s ease;
}

.neutral-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.neutral-link:hover {
  transform: scale(1.05); 
}

#footerText {
  max-width: 80%;
  margin-inline: auto;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
  }

  nav {
    margin-top: 1rem;
  }

  .content-section {
    padding: 1rem 2rem;
    max-width: 100%;
  }

  .hero {
    padding: 2rem 1rem;
  }
}