:root {
  --gray-300: #363636;
  --gray-500: #616161;
  --gray-700: #9c9c9c;
  --gray-900: #ebebeb;

  --blue-300: #40444b;
  --blue-900: #a4c9ff;

  --white: #fff;
  --black: #111;

  --black-t9: #111a;

  --accent-blue: #5078F2;
  --brighter-accent-blue: #547fff;

  --ice-white: #efefff;
  --gold-300: #FFD700;
  --gold-900: #ffee00;
  --gold-1500: #ffef92;
  --green-300: #43b581;
  --green-900: #00ff8c;

  --red-900: #ff2222;
  --red-t3: #ff222233;

  --theme-red-dark: #ff5555;
  --theme-red-light: #da0000;
  --theme-green-dark: #55ff55;
  --theme-green-light: #00c700;
  --theme-yellow-dark: #ffff55;
  --theme-yellow-light: #ffff55;
  --theme-blue-dark: #5555ff;
  --theme-blue-light: #5555ff;
  --theme-magenta-dark: #ff55ff;
  --theme-magenta-light: #ff55ff;
  --theme-cyan-dark: #55ffff;
  --theme-cyan-light: #55ffff;
  --theme-white-dark: #ffffff;
  --theme-white-light: #000000;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  isolation: isolate;
  transition: background 0.25s ease, color 0.25s ease, border 0.25s ease;
  scrollbar-width: thin;
  scrollbar-color: var(--discord-bg-500) var(--discord-background);
}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--topbar-bg);
  overflow: hidden;

  --topbar-bg: var(--gray-300);
  --topbar-button-bg: var(--blue-300);
  --topbar-button-color: var(--blue-900);
  --topbar-buttonShadowColor: var(--accent-blue);
  --topbar-buttonShadowLight: var(--brighter-accent-blue);

  --discord-background: var(--gray-300);
  --discord-bg-500: var(--accent-blue);
  --discord-tab-bg: var(--blue-900);
  --active-tab-bg: var(--blue-300);
  --discord-tab-txt: var(--black);
  --active-tab-txt: var(--white);

  --editor-bg: var(--black-t9);
  --editor-text: var(--white);
  --editor-topbar-bg: var(--black);

  --modal-bg: var(--black-t9);
  --loginForm-bg: var(--blue-300);
  --loginForm-color: var(--gold-1500);
  --loginForm-title-color: var(--gold-300);
  --accent-color: var(--gold-900);
  --input-border-color: var(--gold-1500);

  --form-button-bg: var(--gold-900);
  --form-button-color: var(--black);
  --discord-available-indicator: var(--green-300);

  --errorDialog-bg: var(--red-t3);
  --errorDialog-border: var(--red-900);
  --dark-editor-text: var(--gray-500);

  --text-red: var(--theme-red-dark);
  --text-green: var(--theme-green-dark);
  --text-yellow: var(--theme-yellow-dark);
  --text-blue: var(--theme-blue-dark);
  --text-magenta: var(--theme-magenta-dark);
  --text-cyan: var(--theme-cyan-dark);
  --text-white: var(--theme-white-dark);

  --input-color-border: var(--input-border-color);
  --input-color-text: var(--loginForm-color);
  --input-color-outline: var(--accent-color);
  --input-color-background: var(--loginForm-bg);
}

.light {
  --topbar-bg: var(--gray-900);
  --topbar-button-bg: var(--blue-900);
  --topbar-button-color: var(--black);
  --topbar-buttonShadowColor: var(--accent-blue);
  --topbar-buttonShadowLight: var(--brighter-accent-blue);

  --discord-background: var(--blue-900);
  --discord-bg-500: var(--brighter-accent-blue);
  --discord-tab-bg: var(--blue-900);
  --active-tab-bg: var(--ice-white);
  --discord-tab-txt: var(--white);
  --active-tab-txt: var(--black);

  --editor-bg: var(--white);
  --editor-text: var(--black);
  --editor-topbar-bg: var(--ice-white);

  --modal-bg: var(--black-t9);
  --loginForm-bg: var(--gray-900);
  --loginForm-color: var(--brighter-accent-blue);
  --loginForm-title-color: var(--accent-blue);
  --accent-color: var(--accent-blue);
  --input-border-color: var(--accent-blue);

  --form-button-bg: var(--accent-blue);
  --form-button-color: var(--black);
  --discord-available-indicator: var(--green-900);

  --errorDialog-bg: var(--red-t3);
  --errorDialog-border: var(--red-900);
  --dark-editor-text: var(--gray-700);

  --text-red: var(--theme-red-light);
  --text-green: var(--theme-green-light);
  --text-yellow: var(--theme-yellow-light);
  --text-blue: var(--theme-blue-light);
  --text-magenta: var(--theme-magenta-light);
  --text-cyan: var(--theme-cyan-light);
  --text-white: var(--theme-white-light);

  --input-color-border: var(--input-border-color);
  --input-color-text: var(--loginForm-color);
  --input-color-outline: var(--accent-color);
  --input-color-background: var(--loginForm-bg);
}

#pageContent {
  --top-bar-height: 3rem;
  display: grid;
  grid-template-rows: var(--top-bar-height) calc(100% - var(--top-bar-height));
  height: 100%;
  width: 100%;
  isolation: unset;
}

#editor {
  height: 100%;
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

#TopBar {
  width: 100%;
  height: var(--top-bar-height);
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 1rem;
  background: var(--topbar-bg);
  isolation: unset;
}

@property --topbar-buttonShadowSize {
  syntax: '<number>';
  inherits: false;
  initial-value: 0.1;
}

@property --glow-size {
  syntax: '<number>';
  inherits: false;
  initial-value: 0.75;
}

.button {
  background: var(--topbar-button-bg);
  color: var(--topbar-button-color);
  font-size: 1.15rem;
  border-radius: 0.15rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 0.5rem;
  border: 0;
  font-weight: 900;
  width: fit-content;
  --topbar-buttonShadowSize: 0.1;
  --glow-size: 0.15;
  filter: brightness(0.75);
  box-shadow: 0 calc(var(--topbar-buttonShadowSize) * 1rem) 0 var(--topbar-buttonShadowColor), calc(var(--topbar-buttonShadowSize) * 1rem) 0 0 var(--topbar-buttonShadowColor), calc(var(--topbar-buttonShadowSize) * 1rem) calc(var(--topbar-buttonShadowSize) * 1rem) 0 var(--topbar-buttonShadowLight), 0 0 calc(var(--glow-size) * 1rem) var(--topbar-buttonShadowColor);
  transition: transform 0.05s, --buttonShadowSize 0.05s, --glow-size 0.05s, filter 0.05s;
}

.button:active, .button.enabled {
  --topbar-buttonShadowSize: 0;
  --glow-size: 0.55;
  transform: translate(0.1rem, 0.1rem);
  filter: brightness(1);
}

.horizontal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  grid-template-rows: 100%;
}

#fakeDiscord {
  border-top-left-radius: 0.5rem;
  background: var(--discord-background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  animation: fakediscordAnim 0.25s ease;
}

@keyframes fakediscordAnim {
  from {
    margin-left: 100%;
  }
}

#fakeTabs {
  background: var(--discord-bg-500);
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.fakeTab {
  --bgColor: var(--discord-tab-bg);
  --txtColor: var(--discord-tab-txt);
  color: var(--txtColor);
  border: 0;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  background: var(--bgColor);
  position: relative;
  margin-inline: 0.25rem;
  transition: background 0.1s;
  cursor: pointer;
}

.fakeTab::before, .fakeTab::after {
  content: '';
  display: block;
  position: absolute;
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  left: calc(0px - var(--size));
  bottom: 0;
  background: var(--bgColor);
  mask: radial-gradient(circle at 0 0, transparent calc(var(--size) - 1px), #fff var(--size));
  transition: background 0.1s;
}

.fakeTab::after {
  left: unset;
  right: calc(0px - var(--size));
  mask: radial-gradient(circle at var(--size) 0rem, transparent calc(var(--size) - 1px), #fff var(--size));
}

.fakeTab.active {
  --txtColor: var(--active-tab-txt);
  --bgColor: var(--active-tab-bg);
  z-index: 1;
}

#editorBox {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 2fr 1fr;
  gap: 0.5rem;
  overflow: hidden;
  transition: grid-template-rows 0.5s ease;
}

#editorBox.biggerTerminal {
  grid-template-rows: 1fr 3fr;
}

#console {
  width: 100%;
  height: 100%;
  background: var(--editor-bg);
  color: var(--editor-text);
  border-top-right-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

#editor-topbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  background: var(--editor-topbar-bg);
}

.tabTitle {
  color: var(--editor-text);
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

#fakeContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  background: var(--active-tab-bg);
  height: 100%;
  overflow: hidden;
  position: relative;
}

#loginModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: var(--modal-bg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

#loginForm {
  background: var(--loginForm-bg);
  color: var(--loginForm-color);
  padding: 1rem;
  border-radius: 1rem;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  filter: drop-shadow(0 0 0.15rem var(--loginForm-title-color));
}

.formInput {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  --padding-block: 0.5rem;
  --padding-inline: 0.5rem;
}

.formInputElement {
  resize: vertical;
  width: 100%;
  padding: var(--padding-block) var(--padding-inline);
  border-radius: 0.5rem;
  border: 1px solid var(--input-color-border);
  outline: var(--input-color-outline);
  font-size: 1em;
  background: var(--input-color-background);
  color: var(--input-color-text);
}

.formInputLabel {
  position: absolute;
  top: var(--padding-block);
  left: calc(var(--padding-inline) / 2);
  z-index: 2;
  pointer-events: none;
  background: var(--input-color-background);
  color: var(--input-color-text);
  line-height: normal;
  transition: transform 0.1s ease, opacity 0.5s ease;
  padding-inline: var(--padding-inline);
  opacity: 0.5;
}

.formInput:has(.formInputElement:not(:placeholder-shown)) .formInputLabel {
  transform: translateY(-100%);
  opacity: 1;
}

.formTitle {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--loginForm-title-color);
  text-align: center;
  margin-block: 0.5rem;
}

.formButton {
  background: var(--loginForm-bg);
  color: var(--loginForm-color);
  font-size: 1.15rem;
  border-radius: 0.75rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--input-border-color);
  width: fit-content;
  margin-left: auto;
  transition: background 0.1s, color 0.1s, filter 0.1s;
}

.formButton:hover {
  background: var(--form-button-bg);
  color: var(--form-button-color);
}

.formButton:active {
  filter:brightness(0.75);
}

.formButton:disabled {
  background: var(--form-button-bg);
  color: var(--form-button-color);
  filter: brightness(0.5) hue-rotate(180deg) saturate(0.25);
  cursor: not-allowed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#userList {
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
  width: 100%;
  border-bottom: 1px solid var(--discord-bg-500);
}

#users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.25rem), 1fr));
  gap: 0.5rem;
  width: 100%;
}

.user {
  --pfp-size: 3rem;
  display: grid;
  grid-template-columns: var(--pfp-size) 1fr;
  align-items: center;
  gap: 0.5rem;
  background: var(--discord-background);
  padding: 0.25rem;
  border-radius: 1rem;
  position: relative;
}

.userAvatar {
  width: var(--pfp-size);
  aspect-ratio: 1;
  height: auto;
  border-radius: 25%;
  background: var(--discord-bg-500);
  object-fit: cover;
  overflow: hidden;
}

.user::after {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  aspect-ratio: 1;
  height: auto;
  left: 2rem;
  bottom: 0;
  border: 0.25rem solid var(--discord-background);
  background: var(--discord-available-indicator);
  z-index: 2;
  border-radius: 50%;
}

.userName {
  color: var(--active-tab-txt);
  font-weight: 700;
  font-size: 1rem;
}

.userNameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.userMotd {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: var(--active-tab-txt);
  font-size: 0.75rem;
  font-weight: 300;
}

#consoleContent {
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#fakeChat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease;
  animation: fakeDevAnim 0.5s ease-out;
}

#fakeChat.exiting {
  opacity: 0;
  transform: translateX(-100%);
  animation: none;
  position: absolute;
}

@keyframes fakeChatAnim {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
}

#fakeDevPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease;
  animation: fakeChatAnim 0.5s ease-out;
}

#fakeDevPanel.exiting {
  opacity: 0;
  transform: translateX(100%);
  animation: none;
  position: absolute;
}

@keyframes fakeDevAnim {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}

#chatMessages {
  height: 100%;
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
}

#inputChat {
  border-top: 1px solid var(--discord-bg-500);
  padding-block: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  background: var(--discord-background);
  color: var(--active-tab-txt);
}

.simple-button {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  background: var(--discord-background);
  color: var(--active-tab-txt);
  cursor: pointer;
}

.simple-button:hover {
  background: var(--discord-bg-500);
}

.simple-button:active {
  filter: brightness(0.75);
}

.arrow-right {
  width: 1.5rem;
  aspect-ratio: 1;
  position: relative;
}

.arrow-right div {
  position: absolute;
  width: 80%;
  height: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -115%) rotate(45deg);
  background: var(--editor-text);
  border-radius: 100vw;
}

.arrow-right div:nth-child(2) {
  transform: translate(-45%, 15%) rotate(-45deg);
}

.errorDialog {
  width: 100%;
  background: var(--errorDialog-bg);
  border: 1px solid var(--errorDialog-border);
  border-left: 0.35rem solid var(--errorDialog-border);
  border-radius: 0.25rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.chatMessage {
  width: 95%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.chatMessagePFP {
  height: 3rem;
  aspect-ratio: 1;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}

.messageName {
  font-weight: 700;
  color: var(--editor-text);
}

.messageContent {
  font-size: 0.85rem;
  color: var(--editor-text);
  word-break: break-all;
}

.plus-icon {
  width: 5rem;
  height: auto;
  aspect-ratio: 1;
  position: relative;
}

.plus-icon::before, .plus-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100vw;
  background: var(--editor-text);
  width: 80%;
  height: 15%;
}

.plus-icon::after {
  width: 15%;
  height: 80%;
}

.createApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.createAppTitle {
  color: var(--editor-text);
}

.timestamp {
  position: sticky;
  top: 0;
  height: fit-content;
  font-size: 0.85rem;
  color: var(--dark-editor-text);
}

.terminalLine {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding-block: 0.15rem;
}

.terminalLine:nth-child(even) {
  background: var(--editor-topbar-bg);
  box-shadow: -2rem 0 0 0 var(--editor-topbar-bg), 2rem 0 0 0 var(--editor-topbar-bg);
}

.messageContent.error { 
  color: var(--errorDialog-border);
}

.red {
  color: var(--text-red);
}

.green {
  color: var(--text-green);
}

.yellow {
  color: var(--text-yellow);
}

.blue {
  color: var(--text-blue);
}

.magenta {
  color: var(--text-magenta);
}

.cyan {
  color: var(--text-cyan);
}

.white {
  color: var(--text-white);
}

.bgRed {
  background: var(--text-red);
}

.bgGreen {
  background: var(--text-green);
}

.bgYellow {
  background: var(--text-yellow);
}

.bgBlue {
  background: var(--text-blue);
}

.bgMagenta {
  background: var(--text-magenta);
}

.bgCyan {
  background: var(--text-cyan);
}

.bgWhite {
  background: var(--text-white);
}

.bold {
  font-weight: 700;
}

.reverse {
  background: var(--editor-text);
  color: var(--editor-bg);
}

.underline {
  text-decoration: underline;
}

.devPanelContent {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
  --saveChangesHeight: 3rem;
}

#SaveChangesPopup {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--saveChangesHeight);
  background: var(--black);
  margin-block: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  transition: bottom 0.5s ease, opacity 0.5s ease;
}

#createOrUpdateApp {
  background: var(--green-300);
  color: var(--white);
  border: 0.25rem solid var(--green-900);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  word-break: keep-all;
  white-space: pre;
  transition: background 0.1s ease, color 0.1s ease, filter 0.1s ease;
}

#createOrUpdateApp:hover {
  background: var(--green-900);
  color: var(--black);
}

#createOrUpdateApp:active {
  filter: brightness(0.5);
}

#fakeDevPanelContentTabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1rem 0;
  width: min-content;
  border-right: 1px solid var(--discord-bg-500);
  padding-right: 0.5rem;
}

.fakeDevPanelContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: calc(100% - var(--saveChangesHeight) - 2.5rem);
  position: relative;
}

.fakeDevPanelContent > div {
  width: 100%;
  animation: fakeDevPanelContentShow 0.5s ease-out;
}

.sideBarButton {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  background: var(--discord-background);
  color: var(--active-tab-txt);
  cursor: pointer;
}

.sideBarButton.active {
  background: var(--discord-bg-500);
}

@keyframes fakeDevPanelContentShow {
  from {
    position: absolute;
    z-index: 99;
    top: 5%;
    opacity: 0;
  }

  to {
    position: absolute;
    z-index: 99;
    top: 0%;
    opacity: 1;
  }
}

.fakeDevPanelContentBodyPages {
  padding-left: 0.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --input-color-border: var(--discord-bg-500);
  --input-color-text: var(--editor-text);
  --input-color-outline: var(--discord-bg-500);
  --input-color-background: var(--active-tab-bg);
}

#botPfp {
  width: 5rem;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

#ApplicationNotPublishedText {
  color: var(--editor-text);
}

#BotPfpAndName {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

#BotEditPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.readOnlyTextArea {
  border: 1px solid var(--discord-bg-500);
  border-radius: 0.5rem;
  background: transparent;
  color: var(--editor-text);
  font-size: 0.85rem;
  padding: 0.25rem;
  min-height: 4rem;
}

.readOnlyTextAreaLabel {
  color: var(--editor-text);
  margin-bottom: -1rem;
}

#revelToken {
  border: 1px solid var(--discord-bg-500);
  border-radius: 0.5rem;
  background: transparent;
  color: var(--editor-text);
  font-size: 0.85rem;
  padding: 0.25rem;
  cursor: pointer;
  transition: background 0.1s ease;
}

#revelToken:hover {
  background: var(--discord-bg-500);
}

#revelToken:active {
  background: var(--accent-color);
}

.occult {
  bottom: -15vh !important;
  opacity: 0;
  pointer-events: none;
}

#consoleInput {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding-right: 0.25rem;
}

.TopBar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  isolation: unset;
}

.expand {
  grid-column: 1/3;
  animation: expandAnim 0.25s ease;
}

.expand #console, .expand #editor {
  border-radius: 0 !important;
}

@keyframes expandAnim {
  from {
    width: 65%;
  }
}

#themeSwitch {
  z-index: 9999999999999;
}

@media screen and (max-width: 850px) {
  .button { 
    font-size: 0.8rem;
  }

  .horizontal {
    grid-template-columns: 1fr 3fr;
  }
}

#consoleInput {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding-inline: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--discord-background);
  border-top: 1px solid var(--editor-text);
}

.consoleInputPrefix {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

.consoleInputElement {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  background: var(--discord-background);
  color: var(--active-tab-txt);
}