:root {
  --topbar-bg: #363636;
  --topbar-button-bg: rgb(4, 0, 72);
  --topbar-button-color: #5078F2;
  --topbar-buttonShadowColor: #5078F2;
  --topbar-buttonShadowLight: rgb(84, 127, 255);

  --discord-background: #40444b;
  --discord-bg-500: #6087e2;
  --discord-tab-bg: #dae4f7;
  --active-tab-bg: #1c233d;
  --discord-tab-txt: #1a1e24;
  --active-tab-txt: #fff;

  --editor-bg: #1e1e1e;
  --editor-text: #fff;
  --editor-topbar-bg: #2e2e2e;

  --modal-bg: #0005;
  --loginForm-bg: #3b4757;
  --loginForm-color: #f0ffae;
  --loginForm-title-color: #FFD700;
  --accent-color: #eeff00;
  --input-border-color: #f0ffae55;

  --form-button-bg: #eeff00;
  --form-button-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  isolation: isolate;
}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--topbar-bg);
  overflow: hidden;
}

#pageContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#editor {
  height: 100%;
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

#TopBar {
  width: 100%;
  height: 3rem;
  display: flex;
  padding: 0.5rem 1rem;
  gap: 1rem;
  background: var(--topbar-bg);
}

@property --topbar-buttonShadowSize {
  syntax: '<number>';
  inherits: false;
  initial-value: 0.1;
}

@property --glow-size {
  syntax: '<number>';
  inherits: false;
  initial-value: 0.75;
}

.button {
  background: var(--topbar-button-bg);
  color: var(--topbar-button-color);
  font-size: 1.15rem;
  border-radius: 0.15rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 0.5rem;
  border: 0;
  font-weight: 900;
  width: fit-content;
  --topbar-buttonShadowSize: 0.1;
  --glow-size: 0.15;
  filter: brightness(0.5);
  box-shadow: 0 calc(var(--topbar-buttonShadowSize) * 1rem) 0 var(--topbar-buttonShadowColor), calc(var(--topbar-buttonShadowSize) * 1rem) 0 0 var(--topbar-buttonShadowColor), calc(var(--topbar-buttonShadowSize) * 1rem) calc(var(--topbar-buttonShadowSize) * 1rem) 0 var(--topbar-buttonShadowLight), 0 0 calc(var(--glow-size) * 1rem) var(--topbar-buttonShadowColor);
  transition: transform 0.05s, --buttonShadowSize 0.05s, --glow-size 0.05s, filter 0.05s;
}

.button:active, .button.enabled {
  --topbar-buttonShadowSize: 0;
  --glow-size: 0.55;
  transform: translate(0.1rem, 0.1rem);
  filter: brightness(1);
}

.horizontal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
}

#fakeDiscord {
  border-top-left-radius: 0.5rem;
  background: var(--discord-background);
  overflow: hidden;
}

#fakeTabs {
  background: var(--discord-bg-500);
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.fakeTab {
  --bgColor: var(--discord-tab-bg);
  --txtColor: var(--discord-tab-txt);
  color: var(--txtColor);
  border: 0;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  background: var(--bgColor);
  position: relative;
  margin-inline: 0.25rem;
  transition: background 0.1s;
  cursor: pointer;
}

.fakeTab::before, .fakeTab::after {
  content: '';
  display: block;
  position: absolute;
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  left: calc(0px - var(--size));
  bottom: 0;
  background: var(--bgColor);
  mask: radial-gradient(circle at 0 0, transparent calc(var(--size) - 1px), #fff var(--size));
  transition: background 0.1s;
}

.fakeTab::after {
  left: unset;
  right: calc(0px - var(--size));
  mask: radial-gradient(circle at var(--size) 0rem, transparent calc(var(--size) - 1px), #fff var(--size));
}

.fakeTab.active {
  --txtColor: var(--active-tab-txt);
  --bgColor: var(--active-tab-bg);
  z-index: 1;
}

#editorBox {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 2fr 1fr;
  gap: 0.5rem;
}

#console {
  width: 100%;
  height: 100%;
  background: var(--editor-bg);
  color: var(--editor-text);
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

#editor-topbar {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  background: var(--editor-topbar-bg);
}

.tabTitle {
  color: var(--editor-text);
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

#fakeContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--active-tab-bg);
  height: 100%;
}

#loginModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: var(--modal-bg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

#loginForm {
  background: var(--loginForm-bg);
  color: var(--loginForm-color);
  padding: 1rem;
  border-radius: 1rem;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  filter: drop-shadow(0 0 0.15rem var(--loginForm-title-color));
}

.formInput {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  --padding-block: 0.5rem;
  --padding-inline: 0.5rem;
}

.formInputElement {
  width: 100%;
  padding: var(--padding-block) var(--padding-inline);
  border-radius: 0.5rem;
  border: 1px solid var(--input-border-color);
  outline: var(--accent-color);
  font-size: 1em;
  background: transparent;
  color: var(--loginForm-color);
}

.formInputLabel {
  position: absolute;
  top: var(--padding-block);
  left: calc(var(--padding-inline) / 2);
  z-index: 2;
  pointer-events: none;
  background: var(--loginForm-bg);
  line-height: normal;
  transition: top 0.1s ease, opacity 0.5s ease;
  padding-inline: var(--padding-inline);
  opacity: 0.5;
}

.formInput:has(.formInputElement:not(:placeholder-shown)) .formInputLabel {
  top: calc(-50% + var(--padding-block));
  opacity: 1;
}

.formTitle {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--loginForm-title-color);
  text-align: center;
  margin-block: 0.5rem;
}

.formButton {
  background: var(--loginForm-bg);
  color: var(--loginForm-color);
  font-size: 1.15rem;
  border-radius: 0.75rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--input-border-color);
  width: fit-content;
  margin-left: auto;
  transition: background 0.1s, color 0.1s, filter 0.1s;
}

.formButton:hover {
  background: var(--form-button-bg);
  color: var(--form-button-color);
}

.formButton:active {
  filter:brightness(0.75);
}

.formButton:disabled {
  background: var(--form-button-bg);
  color: var(--form-button-color);
  filter: brightness(0.5) hue-rotate(180deg) saturate(0.25);
  cursor: not-allowed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}